.top
  div.container
    div.output
      ol.tabs.side
        li.tab.active
          button#console-select aria-controls=:"console"
            img src="#{@basepath}images/dynamic/hex/1e151e/toolbar/console.svg"
            span.caption
              = I18n.t(:"run.devices.console")
        li.tab
          button#video-select aria-controls=:"video"
            img src="#{@basepath}images/dynamic/hex/1e151e/toolbar/video.svg"
            span.caption
              = I18n.t(:"run.devices.video")
      ol.tab-panels
        li.tab-panel.active#console
          div#term_container
        li.tab-panel#video
          canvas#video width="640" height="480"
  .register-file
    ol.tabs
      li.tab.active
        button
          = I18n.t(:"run.registers.tab")
    table.registers
      tbody
        - ["pc", "ra", "sp", "gp", "tp", "t0",
           "t1", "t2", "t3", "t4", "t5", "t6",
           "s0", "s1", "s2", "s3", "s4", "s5",
           "s6", "s7", "s8", "s9", "s10", "s11",
           "a0", "a1", "a2", "a3", "a4", "a5",
           "a6", "a7"].each do |register_name|
          tr.register class=register_name
            td.name
              = register_name
            td.value
              button
                = "0x0000000000000000"
            td.edit hidden=true
              input.input type=:text id="register-#{register_name}"

.bottom
  ol.tabs
    li.tab.active
      button aria-controls=:"machine-code-panel"
        = I18n.t(:"run.machine-code.tab")
    li.tab
      button aria-controls=:"memory-panel"
        = I18n.t(:"run.memory.tab")
  ol.tab-panels
    li.tab-panel.active#machine-code-panel
      table.instructions.empty
        thead
          th
            -#= I18n.t(:"run.machine-code.headers.breakpoint")
          th
            = I18n.t(:"run.machine-code.headers.address")
          th
            = I18n.t(:"run.machine-code.headers.code")
          th
            = I18n.t(:"run.machine-code.headers.disassembly")
          th
            = I18n.t(:"run.machine-code.headers.line")
          th
            = I18n.t(:"run.machine-code.headers.source")
        tbody

      img.waiting src="#{@basepath}images/dynamic/hex/dbccda/dinosaurs/velociraptor.svg"
    li.tab-panel#memory-panel
      table.memory.empty
        thead
          th
            = I18n.t(:"run.memory.headers.address")
          th
            = I18n.t(:"run.memory.headers.value") + " (+0)"
          th
            = I18n.t(:"run.memory.headers.value") + " (+4)"
          th
            = I18n.t(:"run.memory.headers.value") + " (+8)"
          th
            = I18n.t(:"run.memory.headers.value") + " (+12)"
          th
            = I18n.t(:"run.memory.headers.value") + " (+16)"
          th
            = I18n.t(:"run.memory.headers.value") + " (+20)"
          th
            = I18n.t(:"run.memory.headers.value") + " (+24)"
          th
            = I18n.t(:"run.memory.headers.value") + " (+28)"
          th
            = I18n.t(:"run.memory.headers.printed")
        tbody

      img.waiting src="#{@basepath}images/dynamic/hex/dbccda/dinosaurs/tyrannosaurus.svg"
